/* Reset */
body{
    padding: 0; /*Resetando configurações*/
    margin: 0; /*Resetando configurações*/
    color: #353839; /*Cor do Texto*/
    text-transform: uppercase;
    text-align: center;     /*Alinhamento*/
}

/*Container geral*/
.container{
    display: grid;
    height: 100vh;
    overflow-y: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.5fr 0.7fr;
    grid-template-areas: 
    "header header header header"
    "main man main sidebar"
    "conent1 content2 content3 sidebar"
    "footer footer footer footer";
    gap: 0.6%;
}

/*Header*/
header{
    background: #a7ffeb;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header img{
    margin-left: 50px;
}

nav{
    margin-right: 50px;
}

nav a{
    margin: 0 30px;
}